* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark: hsl(249, 10%, 26%);
  --neutral-grayish: hsl(246, 25%, 77%);
}

body {
  min-height: 100vh;
  background: var(--primary-red);
  background-image: url(images/bg-intro-desktop.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 1px solid; */
  max-width: 1110px;
  display: flex;
  margin: 1rem;
}

.header,
.form-wrapper {
  flex: 1;
}

.header {
  color: #fff;
}

.main-header {
  width: 75%;
  font-size: 3rem;
}

.sub-header {
  font-weight: lighter;
  margin-top: 1rem;
  font-size: 1rem;
}

.alert {
  background: var(--accent-blue);
  color: #fff;
  padding: 1.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.159);
}
